<!DOCTYPE html>
@{
    var CurrentUser = (Admin.BusinessLogic.User)Session["User"];
}
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/Content/metro-bootstrap.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/metro.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/metro-ui/css/metro.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/metro-ui/css/metro-icons.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/metro-ui/css/metro-responsive.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/metro-ui/css/metro-schemes.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/metro-ui/css/docs.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/site.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Content/bootstrapValidator.min.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.js")"></script>
    <style>
        .navbar > .container {
            width:90%
        }
    </style>
</head>
<body>
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index","Dashboard")">@(CurrentUser != null && CurrentUser.UserType == Admin.BusinessLogic.UserTypes.ADMIN ? "Admin" : (CurrentUser.UserType == Admin.BusinessLogic.UserTypes.CLIENT ? "User" : "Distributor"))</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown active">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Master </a>
                        <ul class="dropdown-menu">
                            @if (CurrentUser.UserType == Admin.BusinessLogic.UserTypes.ADMIN)
                            {
                                <li><a href="@Url.Action("Edit", "Admin", new { ID=0})">Admins</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Edit", "Client", new { ID=0})">Clients</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="@Url.Action("Edit", "Distributor", new { ID=0})">Distributors</a></li>
                                <li><a href="@Url.Action("DoRecharge", "Distributor")">Distributor Recharges</a></li>
                                <li><a href="@Url.Action("Remove", "Client")">Remove Client</a></li>
                            }
                            @if (CurrentUser.UserType == Admin.BusinessLogic.UserTypes.CLIENT)
                            {
                                <li><a href="#">Company Setup Master</a></li>
                                <li><a href="#">User Creation Master</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">Userwise Company Allocation Master</a></li>
                                <li><a href="#">User-Company-Menu Allocation Master</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="#">User-Submenu-Allocation Master</a></li>
                                <li><a href="#">User-Dashboard-Allocation Master</a></li>
                            }
                            @if (CurrentUser.UserType == Admin.BusinessLogic.UserTypes.DISTRIBUTOR)
                            {
                                <li><a href="@Url.Action("Edit", "Client", new { ID=0})">Clients</a></li>
                                <li><a href="@Url.Action("Remove", "Client")">Remove Client</a></li>
                            }
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports </a>
                        <ul class="dropdown-menu">
                            @if (CurrentUser.UserType == Admin.BusinessLogic.UserTypes.ADMIN)
                            {
                                <li><a href="#" onclick="DistributorBalance()">Distributor Balance Report</a></li>
                                <li><a href="@Url.Action("RechargeInformationReport", "Distributor")">Distributor Recharge Information Report</a></li>
                                <li><a href="@Url.Action("ClientDataUploadReport", "Dashboard")">Client Data Upload Report</a></li>
                            }
                            @if (CurrentUser.UserType == Admin.BusinessLogic.UserTypes.DISTRIBUTOR)
                            {
                                <li><a href="@Url.Action("RechargeHistory", "Distributor")">Recharge History</a></li>
                            }
                        </ul>
                    </li>

                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                            Welcome @(CurrentUser != null ? (CurrentUser.FirstName + " " + CurrentUser.LastName).ToUpper() : "")
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="@Url.Action("ChangePassword","Dashboard")">Change Password</a></li>
                            <li><a href="@Url.Action("UpdateProfile","Dashboard")">Update Profile</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="@Url.Action("LogOut","Account")">LogOut</a></li>
                        </ul>
                    </li>
                    @if (CurrentUser.UserType == Admin.BusinessLogic.UserTypes.DISTRIBUTOR)
                    {
                        <li><a href="#" style="font-style: italic; font-weight: bold; font-size: 1.5em;">Balance : @(Admin.BusinessLogic.User.GetDistributorBalance(CurrentUser.Id))</a></li>
                    }
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>

    @RenderBody()

    <div id="loader-wrapper" style="display:none">
        <div id="loader"></div>
    </div>
    <script src="@Url.Content("~/Scripts/bootstrapValidator.min.js")"></script>
    <script src="@Url.Content("~/Content/metro-ui/js/metro.js")"></script>
    <script src="@Url.Content("~/Content/metro-ui/js/dialog.js")"></script>
    <script src="@Url.Content("~/Scripts/bootstrap.min.js")"></script>
    <script src="@Url.Content("~/Scripts/site.js")"></script>

    <script>
        function DistributorBalance() {
            $.ajax({
                url: '@Url.Action("BalanceReport", "Distributor")',
                success: function (result) {
                    if (result.IsSuccess) {
                        window.open('@Convert.ToString(System.Configuration.ConfigurationManager.AppSettings["PdfReportLocation"]).Replace("~","")'  + "/"+ result.ResponseValue + ".PDF", "_blank");
                    }
                }
            });
        }
    </script>
</body>
</html>
