@model IEnumerable<BusinessLogic.Product>
@Styles.Render("~/Content/css/datatablecss")

<table id="tblProduct" class="table table-striped table-bordered">
    <thead>
        <tr>
            @*<th>Code</th>*@
            <th>Name</th>
            <th>Group</th>
            <th>Unit</th>
            <th>Op. Qty</th>
            <th>Op. Rate</th>
            <th>Op. Value</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var product in Model)
            {
                <tr data-empid="@product.RefId">
                    @*<td>@group.Code</td>*@
                    <td>@product.Name</td>
                    <td>@product.Group</td>
                    <td>@product.DUnit</td>
                    <td>@product.Op_Qty</td>
                    <td>@product.Op_Rate</td>
                    <td>@product.Op_Value</td>
                    @*<td>@group.Category3</td>
                        <td>@group.Parent</td>*@
                </tr>
            }
        }
    </tbody>
</table>
@Scripts.Render("~/Content/js/datatablejs")

<script>
    $(document).ready(function () {
        $('#tblProduct').DataTable();
    });
</script>