@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
    var CurrentUser = (Admin.BusinessLogic.User)Session["User"];
}
<div class="row">
    <div class="col-md-12">
        <div class="tile-container bg-darkCobalt">
            @if (CurrentUser.UserType == Admin.BusinessLogic.UserTypes.ADMIN)
            {
                <div class="tile-wide bg-lighterBlue" data-role="tile">
                    <h2>
                        <a href="@Url.Action("Edit", "Admin", new { ID =0})">Admin User Master</a>
                    </h2>
                </div>
                <div class="tile-wide bg-red" data-role="tile">
                    <h2>
                        <a href="@Url.Action("Edit", "Client", new { ID=0})">Client Master</a>
                    </h2>
                </div>
                <div class="tile-wide bg-pink" data-role="tile">
                    <h2>
                        <a href="@Url.Action("AdminMaster","Dashboard")">Admin User Master</a>
                    </h2>
                </div>
                <div class="tile-wide bg-pink" data-role="tile">
                    <h2>
                        <a href="@Url.Action("Edit", "Distributor", new { ID=0})">Distributor Master</a>
                    </h2>
                </div>
                <div class="tile-wide bg-pink" data-role="tile">
                    <h2>
                        <a href="@Url.Action("DoRecharge","Distributor")">Distributor Recharge Master</a>
                    </h2>
                </div>
            }
           
            @if (CurrentUser.UserType == Admin.BusinessLogic.UserTypes.DISTRIBUTOR)
            {
                <div class="tile-wide bg-red" data-role="tile">
                    <h2>
                        <a href="@Url.Action("Edit","Client")">Client Master</a>
                    </h2>
                </div>
            }
        </div>

    </div>
</div>
