@model BusinessLogic.Client
@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

@Styles.Render("~/Content/css/customsweetcss")
<link href="@Url.Content("~/Content/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css")" rel="stylesheet">
<div class="row">
    <div class="col-lg-offset-1 col-lg-10">
        <div class="card-box">
            <h4 class="m-t-0 header-title"><b>Client Master</b></h4>
            <p class="text-muted font-13 m-b-30">
                Add/Edit Client here
            </p>
            @using (Html.BeginForm("Save", "Client", FormMethod.Post, new { @autocomplete = "off", @class = "form-horizontal m-t-20", @id = "frmClient" }))
            {
                @Html.HiddenFor(x => x.Id)
                @Html.HiddenFor(x => x.NoOfDays)
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">Company Name</label>
                            <div class="col-sm-8">
                                @Html.HiddenFor(x => x.RefId)
                                @Html.TextBoxFor(x => x.CompanyName, new { @class = "form-control", @placeholder = "Company Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">Company Address</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.CompanyAddress, new { @class = "form-control", @placeholder = "Address" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">Mobile No</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.MobileNo, new { @class = "form-control", @placeholder = "Mobile No" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">Email Id</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.Email, new { @class = "form-control", @placeholder = "Email" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">First Name</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.FirstName, new { @class = "form-control", @placeholder = "First Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">Last Name</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.LastName, new { @class = "form-control", @placeholder = "Last Name" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8 text-center">
                                <div class="checkbox checkbox-primary">
                                    @Html.CheckBoxFor(x => x.QueryRights)
                                    <label for="QueryRights">
                                        Rights for writing query?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">User Name</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.UserName, new { @class = "form-control", @placeholder = "User Name", @readonly = "readonly", @onfocus = "this.removeAttribute('readonly');" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">Password</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.Password, new { @class = "form-control", @placeholder = "Password", @readonly = "readonly", @onfocus = "this.removeAttribute('readonly');", @type = "password" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">Confirm Password</label>
                            <div class="col-sm-8">
                                <input type="password" name="ConfirmPassword" id="txtConfirmPassword" class="form-control" placeholder="Confirm Password" readonly="readonly" onfocus="this.removeAttribute('readonly');" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">No Of Users</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.NoOfAccessUsers, new { @class = "form-control", @placeholder = "No of Users" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">No of Company</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.NoOfCompanyPerUser, new { @class = "form-control", @placeholder = "No of company" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="hori-pass1" class="col-sm-4 control-label">Expiry Date</label>
                            <div class="col-sm-8">
                                @Html.TextBoxFor(x => x.AccountExpiredOn, new { @class = "form-control datepicker", @placeholder = "Expiry Date" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-offset-4 col-sm-8 text-center">
                                <div class="checkbox checkbox-primary">
                                    @Html.CheckBoxFor(x => x.IsWithout)
                                    <label for="IsWithout">
                                        Has Without?
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <a href="@Url.Action("Add", "Client", new { refId=""})" i id="btnAdd" type="button" class="btn btn-lg btn-default waves-effect waves-light m-l-5">
                            <i class="ti-plus"></i>&nbsp;&nbsp;Add
                        </a>
                        <button id="btnSave" type="submit" class="btn btn-lg btn-primary waves-effect waves-light">
                            <i class="ti-save"></i>&nbsp;&nbsp; Save
                        </button>
                        <button id="btnDelete" type="button" class="btn btn-lg btn-danger waves-effect waves-light m-l-5">
                            <i class="ti-trash"></i>&nbsp;&nbsp;Delete
                        </button>
                        <button id="btnView" type="button" class="btn btn-lg btn-warning waves-effect waves-light m-l-5">
                            <i class="ti-search"></i>&nbsp;&nbsp;View
                        </button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div id="custom-modal" class="modal-demo">
    <button type="button" class="close" onclick="Custombox.close();">
        <span>&times;</span><span class="sr-only">Close</span>
    </button>
    <h4 class="custom-modal-title">Client</h4>
    <div class="custom-modal-text" id="AllClient" style="max-height:500px;overflow:auto;">

    </div>
</div>
@Scripts.Render("~/Content/css/customsweetjs")
<script src="@Url.Content("~/Content/plugins/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js")"></script>
<script src="@Url.Content("~/Content/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js")" type="text/javascript"></script>
<script>
    function ClientAdded(response) {
        swal({
            title: "Information",
            text: "Client is saved successfully.",
            type: "success"
        }, function () {
            $('#btnAdd')[0].click();
        });
    }

    $(document).ready(function () {
        $('.datepicker').datepicker({
            autoclose: true,
            format: 'dd/mm/yyyy',
            forceParse: false
        });
        $('#frmClient').validate({
            rules: {
                CompanyName: {
                    required: true,
                    remote: {
                        url: '@Url.Action("CheckDuplicateName","Client")',
                        data: { RefId: $('#RefId').val() },
                        type: "POST"
                    }
                },
                UserName: {
                    required: true,
                    remote: {
                        url: '@Url.Action("CheckDuplicateUserName","Client")',
                        data: { RefId: $('#RefId').val() },
                        type: "POST"
                    }
                },
                Password: {
                    required: true
                },
                NoOfUser: {
                    required: true
                },
                NoOfCompany: {
                    required: true
                },
                ExpiryDate: {
                    required: true
                },
                ConfirmPassword: {
                    required: true,
                    equalTo: "#Password"
                }
            },
            messages: {
                CompanyName: {
                    required: "Please enter Name",
                    remote: "Company Name is already entered, Please enter another Company Name"
                },
                UserName: {
                    required: "Please enter User Name",
                    remote: "User Name is already entered, Please enter another User Name"
                },
                Password: {
                    required: "Please enter Passowrd"
                },
                ConfirmPassword: {
                    required: "Please re enter Passowrd",
                    equalTo: "Confirm Password should match with password"
                },
                NoOfUser: {
                    required: "Please enter No Of Users"
                },
                NoOfCompany: {
                    required: "Please enter No Of Company"
                },
                ExpiryDate: {
                    required: "Please enter Expiry Date"
                }
            },
            submitHandler: function (form) {
                $('#AccountExpiredOn').val(new Date($('#AccountExpiredOn').datepicker('getDate')).toISOString());
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Save","Client")",
                    data: $('#frmClient').serialize(),
                    success: function (response) {
                        ClientAdded();
                    }
                });
                return false;
            }
        });
        $('#btnView').click(function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetAll","Client")",
                success: function (response) {
                    $('#AllClient').html(response);
                    Custombox.open({
                        animation: 'rotatedown',
                        plugin: 'custommodal',
                        overlayspeed: '100',
                        overlaycolor: '#36404a',
                        target: '#custom-modal'
                    });
                    $('body').on('dblclick', '#tblClient tbody tr', function () {
                        window.location.href = '@Url.Action("Add", "Client", new { refId="REPLACE"})'.replace('REPLACE', $(this).data('empid'));
                    });
                }
            });

        });
        $('#btnDelete').click(function () {
            if ($('#RefId').val() == "00000000-0000-0000-0000-000000000000") {
                swal("Please select any record First!", "In order to delete emplyee, You need to select an Client first.")
            }
            else {
                swal({
                    title: "Are you sure want to delete this Client?",
                    text: "You will not be able to recover this record!",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "Yes, delete it!",
                    cancelButtonText: "No, cancel plz!",
                    closeOnConfirm: false,
                    closeOnCancel: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("Delete","Client")",
                            data: { ID: $('#RefId').val() },
                            success: function (response) {
                                if (response.IsSuccess == true) {
                                    swal({
                                        title: "Deleted!",
                                        text: "Client is deleted Successfully.",
                                        type: "success"
                                    }, function () {
                                        $('#btnAdd')[0].click();
                                    });
                                }
                                else {
                                    swal("Opssss!", "Something seems wrong while deleting Client.", "error");
                                }
                            }
                        });

                    } else {
                        swal("Cancelled", "Client is safe :)", "error");
                    }
                });
            }
        });
    });
</script>