@model IEnumerable<BusinessLogic.Client>
@Styles.Render("~/Content/css/datatablecss")

<table id="tblClient" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Client Name</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>User Name</th>
            <th>Expiry Date</th>
        </tr>
    </thead>

    <tbody>
        @if (Model != null)
        {
            foreach (var client in Model)
            {
                <tr data-empid="@client.RefId">
                    <td>@client.Name</td>
                    <td>@client.FirstName</td>
                    <td>@client.LastName</td>
                    <td>@client.UserName</td>
                    <td>@client.AccountExpiredOn.ToString("dd/MM/yyyy")</td>
                </tr>
            }
        }
    </tbody>
</table>
@Scripts.Render("~/Content/js/datatablejs")

<script>
    $(document).ready(function () {
        $('#tblClient').DataTable();
    });
</script>