@model IEnumerable<Distributor.BusinessLogic.User>
@if (Model != null)
{
    <table class="table striped hovered cell-hovered border bordered">
        <thead>
            <tr>
                <th class="sortable-column">First Name</th>
                <th class="sortable-column">Last Name</th>
                <th class="sortable-column">Email Id</th>
                <th class="sortable-column">Username</th>
                <th class="sortable-column">Mobile No</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var admin in Model)
            {
                <tr data-distributorid="@admin.Id">
                    <td>@admin.FirstName</td>
                    <td>@admin.LastName</td>
                    <td>@admin.EmailId</td>
                    <td>@admin.UserName</td>
                    <td>@admin.MobileNo</td>
                </tr>
            }
        </tbody>
    </table>
}
