@{
    ViewBag.Title = "GetDashboard";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<div class="row-fluid">
    <div class="col-md-10 col-md-offset-1">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Client And Menu Details</label>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="btnClientSelectAll" class="btn btn-primary face"><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;Select All</button>
                        <button type="button" id="btnClientUnSelectAll" class="btn btn-primary face"><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;UnSelect All</button>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-6">
                        <label>Dashboard Menu Details</label>
                    </div>
                    <div class="col-md-6">
                        <button type="button" id="btnClientSubSelectAll" class="btn btn-primary face"><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;Select All</button>
                        <button type="button" id="btnClientSubUnSelectAll" class="btn btn-primary face"><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;UnSelect All</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" style="max-height: 300px; overflow: auto;">
                <table class="table striped hovered cell-hovered border bordered">
                    <thead>
                        <tr>
                            <th class="sortable-column">Select</th>
                            <th class="sortable-column">First Name</th>
                            <th class="sortable-column">Last Name</th>
                            <th class="sortable-column">Menu Name</th>
                            <th class="sortable-column">Query</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.UserMenus != null)
                        {
                            foreach (Distributor.BusinessLogic.SubMenuViewModel usermenu in ViewBag.UserMenus)
                            {
                                <tr data-clientmenuid="@usermenu.ClientMenuID">
                                    <td>
                                        <input type="checkbox" name="chkUserMenus" />
                                    </td>
                                    <td>
                                        @usermenu.FirstName
                                    </td>
                                    <td>
                                        @usermenu.LastName
                                    </td>
                                    <td>
                                        @usermenu.MenuName
                                    </td>
                                    <td style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:10%;">
                                        @usermenu.Query
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6" style="max-height: 300px; overflow: auto;">
                <table class="table striped hovered cell-hovered border bordered">
                    <thead>
                        <tr>
                            <th class="sortable-column">Select</th>
                            <th class="sortable-column">Dashboard Name</th>
                            <th class="sortable-column">Type</th>
                            <th class="sortable-column">Zoom Menu</th>
                            <th class="sortable-column">Query</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.DashboardMenus != null)
                        {
                            foreach (Distributor.BusinessLogic.DashboardMaster childmenu in ViewBag.DashboardMenus)
                            {
                                <tr data-dashboardid="@childmenu.DashboardID">
                                    <td><input type="checkbox" name="chkChildMenus" /></td>
                                    <td>
                                        @childmenu.DashboardName
                                    </td>
                                    <td>
                                        @childmenu.Type
                                    </td>
                                    <td>
                                        @childmenu.MenuName
                                    </td>
                                    <td style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:10%;">
                                        @childmenu.Query
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <button type="button" id="btnClientAssign" class="btn btn-primary face"><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;Assign Menu</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12" style="max-height: 300px; overflow: auto;">
                <table id="tblSubMenuMaster" class="table striped hovered cell-hovered border bordered">
                    <thead>
                        <tr>
                            <th class="sortable-column">Delete</th>
                            <th class="sortable-column">First Name</th>
                            <th class="sortable-column">Last Name</th>
                            <th class="sortable-column">Menu Name</th>
                            <th class="sortable-column">Dashboard Name</th>
                            <th class="sortable-column">Dashboard Query</th>
                            <th class="sortable-column">Dashboard Type</th>

                        </tr>
                    </thead>
                    <tbody>
                        @if (ViewBag.DashMenus != null)
                        {
                            int i = 1;
                            foreach (Distributor.BusinessLogic.DashboardMaster submenu in ViewBag.DashMenus)
                            {
                                <tr data-detailclientmenuid="@submenu.ClientMenuID" data-detaildashboardid="@submenu.DashboardID">
                                    <td>
                                        <button data-deletesubmenu type="button" class="btn btn-primary face">Delete</button>
                                    </td>
                                    <td>
                                        @submenu.FirstName
                                    </td>
                                    <td>
                                        @submenu.LastName
                                    </td>
                                    <td>
                                        @submenu.MenuName
                                    </td>
                                    <td>
                                        @submenu.DashboardName
                                    </td>
                                    <td style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:10%;">
                                        @submenu.Query
                                    </td>
                                    <td>
                                        @submenu.Type
                                    </td>

                                </tr>
                                i++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div data-role="dialog" data-overlay="true" data-overlay-color=".dialog-overlay" data-close-button="true" data-width="500px" id="dialog">
    <h1>Confirm Delete</h1>
    <p>
        Are you sure want to delete this record?
    </p>
    <div class="row">
        <div class="col-md-6 text-center">
            <button type="button" id="btnDelete" class="btn btn-danger face"><span class="glyphicon glyphicon-log-in"></span>&nbsp;&nbsp;Yes</button>
        </div>
        <div class="col-md-6 text-center">
            <button type="button" onclick="toggleMetroDialog('#dialog')" class="btn btn-primary face"><span class="glyphicon glyphicon-log-in"></span> &nbsp;&nbsp;No</button>
        </div>
    </div>
</div>
<script>
    
    $(document).ready(function () {
        var deleteButton = null;
        $('#btnClientSelectAll').on('click', function () {
            $('[name="chkUserMenus"]').prop('checked', true);
        });
        $('#btnClientUnSelectAll').on('click', function () {
            $('[name="chkUserMenus"]').prop('checked', false);
        });
        $('#btnClientSubSelectAll').on('click', function () {
            $('[name="chkChildMenus"]').prop('checked', true);
        });
        $('#btnClientSubUnSelectAll').on('click', function () {
            $('[name="chkChildMenus"]').prop('checked', false);
        });
        $('[data-deletesubmenu]').unbind('click').bind('click', function () {
            deleteButton = this;
            toggleMetroDialog('#dialog');
        });
        $('#btnClientAssign').on('click', function () {
            if ($('[name="chkUserMenus"]:checked').length == 0 || $('[name="chkChildMenus"]:checked').length == 0) {
                $.Notify({ keepOpen: false, type: 'alert', caption: 'Alert', content: "Please select atleast on client and Dashboard Menu item." });
            }
            else {
                var isFound = false;
                $.each($('[name="chkUserMenus"]:checked'), function (userMenuIndex, userMenuCheckbox) {

                    $.each($('[name="chkChildMenus"]:checked'), function (childMenuIndex, childMenuCheckbox) {
                        var userMenuRow = $(userMenuCheckbox).parent().parent();
                        var childMenuRow = $(childMenuCheckbox).parent().parent();

                        if ($('#tblSubMenuMaster tbody tr[data-detailclientmenuid="' + userMenuRow.data('clientmenuid') +
                            '"][data-detaildashboardid="' + childMenuRow.data('dashboardid') + '"]').length > 0) {
                        }
                        else {

                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("SaveDashboardMenuForClient", "Dashboard")',
                                data: { DetailClientMenuId: userMenuRow.data('clientmenuid'), DetailDashboardId: childMenuRow.data('dashboardid') },
                                success: function (data) {
                                    if (data == "SUCCESS") {
                                        var strHtml = '<tr data-detailclientmenuid="' + userMenuRow.data('clientmenuid') +
                               '" data-detaildashboardid="' + childMenuRow.data('dashboardid') +
                               '" style="background-color:rgba(255, 255, 0, 0.32);"><td> <button data-deletesubmenu type="button" class="btn btn-primary face">Delete</button></td><td>' +
                               userMenuRow.find('td:eq(1)').html() + '</td><td>' + userMenuRow.find('td:eq(2)').html() + '</td><td>Dashboard</td><td>' +
                               childMenuRow.find('td:eq(1)').html() + '</td><td>' + childMenuRow.find('td:eq(4)').html() + '</td><td>' +
                               childMenuRow.find('td:eq(2)').html() + '</td></tr>';
                                        $('#tblSubMenuMaster tbody').prepend(strHtml);
                                        $('[data-deletesubmenu]').unbind('click').bind('click', function () {
                                            toggleMetroDialog('#dialog');
                                        });
                                        isFound = true;
                                    }
                                }
                            });
                        }
                    });
                });
                $.Notify({ keepOpen: false, type: 'success', caption: 'Information', content: "Dashboard Menu saved successfully." });
            }
        });

        $('#btnDelete').on('click', function () {
            $.ajax({
                type: "POST",
                url: '@Url.Action("DeleteDashboardMenuOfClient", "Dashboard")',
                data: {
                    DetailClientMenuId: $(deleteButton).parent().parent().data('detailclientmenuid'),
                    DetailDashboardId: $(deleteButton).parent().parent().data('detaildashboardid')
                },
                success: function (data) {
                    if (data == "SUCCESS") {
                        $.Notify({ keepOpen: false, type: 'success', caption: 'Information', content: "Dashboard Menu deleted successfully." });
                        $(deleteButton).parent().parent().remove();
                        toggleMetroDialog('#dialog');
                    }
                }
            });
        });
    });
</script>