
@model IEnumerable<Distributor.BusinessLogic.ClientMenuMaster>
@if (Model != null)
{
    <table class="table striped hovered cell-hovered border bordered">
        <thead>
            <tr>
                <th class="sortable-column">Sr No</th>
                <th class="sortable-column">Name</th>
                <th class="sortable-column">Query</th>
                <th class="sortable-column">Zoom Query</th>
                <th class="sortable-column">Has Child Data?</th>
                <th class="sortable-column">Has Dashboard?</th>
                <th class="sortable-column">Has Child Menus?</th>
                <th class="sortable-column">Has Graph?</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var menu in Model)
            {
                <tr data-menuid="@menu.MenuId">
                    <td>@menu.SrNo</td>
                    <td>@menu.MenuName</td>
                    <td style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:10%;">@menu.Query</td>
                    <td style=" overflow: hidden;text-overflow: ellipsis;white-space: nowrap;width:10%;">@menu.ZoomQuery</td>
                    <td>@menu.HasChildData</td>
                    <td>@menu.IsDashboard</td>
                    <td>@menu.HasChildMenu</td>
                    <td>@menu.HasGraph</td>
                </tr>
            }
        </tbody>
    </table>
}
